/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fBf9f8;
  font-size: 18px;
  line-height: 22px;
  font-family: Lato-Regular;
  font-weight: 400;
  min-width: 320px;
  color: #373737; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:focus {
    outline: none; }

button {
  cursor: pointer;
  border: none; }
  button:focus {
    outline: none; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../font/lato/Lato-Bold.woff") format("woff"), url("../font/lato/Lato-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../font/lato/Lato-light.woff") format("woff"), url("../font/lato/Lato-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../font/lato/Lato-Regular.woff") format("woff"), url("../font/lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../font/Proxima-Nova/ProximaNova-Regular.woff") format("woff"), url("../font/Proxima-Nova/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Popup container - can be anything you want */
.popup {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 12px;
  /* The actual popup */
  /* Toggle this class - hide and show the popup */ }
  .popup .popup-text {
    visibility: hidden;
    width: 260px;
    background-color: #fff;
    color: #373737;
    box-shadow: 3px 3px 30px rgba(150, 78, 30, 0.14);
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    z-index: 100;
    /* Popup arrow */ }
    .popup .popup-text::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 30%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #fff transparent transparent transparent; }
    .popup .popup-text span {
      display: block; }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; }
  .popup:hover img {
    filter: contrast(1%); }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px; }
  .close-btn:hover img {
    filter: contrast(1%); }
  .close-btn img {
    width: 28px; }
  .close-btn label {
    display: flex;
    cursor: pointer; }
  .close-btn input {
    display: none; }

.btn {
  font-family: Lato-Regular !important;
  font-size: 20px !important;
  line-height: 24px;
  padding: 15px;
  max-width: 310px;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  background: #fff;
  cursor: pointer; }
  @media only screen and (max-width: 1023px) {
    .btn {
      max-width: 280px; } }
  .btn:hover {
    background: linear-gradient(to right, #EB800C 100%, #FABB35 100%);
    color: #fff;
    transition: all .50s; }

.close-block-btn {
  background: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 50; }
  .close-block-btn img {
    width: 28px; }

.toggle-button {
  background: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding: 0;
  height: 100%; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 16px 255px;
  background: #fff;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08); }
  @media only screen and (max-width: 1275px) {
    .header {
      padding: 20px 20px 16px 200px; } }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 20px 20px 16px 150px; } }

.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 270px; }
  @media only screen and (max-width: 1275px) {
    .btn-group {
      min-width: 235px; } }
  .btn-group .btn {
    max-width: none;
    width: auto; }
  .btn-group button {
    margin: 0 0 10px 10px; }
  .btn-group .custom-select {
    margin: 0 0 10px 10px;
    cursor: pointer; }
    .btn-group .custom-select:hover {
      background: linear-gradient(to right, #EB800C 100%, #FABB35 100%);
      color: #fff;
      transition: all .50s; }
  .btn-group .selected-item {
    font-family: Lato-Light;
    font-size: 20px;
    line-height: 27px;
    background: transparent;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0; }
    .btn-group .selected-item:after {
      display: none; }
  .btn-group .item {
    color: #000; }
    @media only screen and (max-width: 1275px) {
      .btn-group .item {
        padding: 5px 7px; } }

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px; }
  .menu li {
    margin-right: 60px; }
    @media only screen and (max-width: 1023px) {
      .menu li {
        margin-right: 20px; } }
  .menu a {
    font-family: Lato-Light;
    color: #373737;
    position: relative;
    padding-bottom: 7px;
    display: block; }
    .menu a:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
      transition: width 0.25s linear; }
    .menu a:hover {
      font-family: Lato-Regular; }
      .menu a:hover:after {
        width: 100%; }
  .menu .active {
    font-family: Lato-Regular; }
    .menu .active:after {
      width: 100%; }

@media only screen and (max-width: 767px) {
  .show-menu {
    right: 0; } }

.btn-menu {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg); }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      display: block; } }
  .btn-menu span {
    background: #373737;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 70%; }
  .btn-menu .bottom {
    top: auto;
    bottom: 0; }
  .btn-menu .top {
    bottom: 0;
    width: 40%; }
  .btn-menu.active {
    background: transparent; }
    .btn-menu.active .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
      width: 100%; }
    .btn-menu.active .middle {
      opacity: 0; }
    .btn-menu.active .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      width: 100%; }

.main-wrap {
  padding: 65px 20px 20px 255px; }
  @media only screen and (max-width: 1275px) {
    .main-wrap {
      padding: 65px 20px 20px 200px; } }
  @media only screen and (max-width: 1023px) {
    .main-wrap {
      padding: 25px 20px 20px 150px; } }

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 130px;
  z-index: 100; }
  @media only screen and (max-width: 1275px) {
    .sidebar {
      width: 123px; } }
  .sidebar li {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.08);
    background: #fff;
    font-family: Lato-Light; }
    .sidebar li .active {
      font-family: Lato-Regular; }
      .sidebar li .active .hover-sidebar-icon {
        display: block; }
      .sidebar li .active .sidebar-icon {
        display: none; }
    .sidebar li .hover-sidebar-icon {
      display: none; }
    .sidebar li img {
      width: 33px;
      display: flex;
      margin-bottom: 12px; }
  .sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #373737;
    text-align: center;
    padding: 36px 0; }
    .sidebar a:hover {
      font-family: Lato-Regular; }
      .sidebar a:hover .hover-sidebar-icon {
        display: block; }
      .sidebar a:hover .sidebar-icon {
        display: none; }
  .sidebar .logo img {
    width: 90px;
    margin-bottom: 0; }
  .sidebar ul {
    display: none; }

.account-title {
  font-family: Lato-Light;
  line-height: 27px;
  margin-bottom: 21px; }

.title-page {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 32px; }

.service-list {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  flex-wrap: wrap; }
  .service-list .text {
    margin-bottom: 15px; }

.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(150, 78, 30, 0.14);
  border-radius: 5px;
  min-height: 170px;
  max-width: 310px;
  width: 100%;
  position: relative;
  margin-right: 35px;
  padding: 15px; }
  @media only screen and (max-width: 1023px) {
    .service-item {
      margin-right: 5px;
      max-width: 280px; } }
  .service-item:last-child {
    margin-right: 0; }
  .service-item .view {
    font-size: 35px;
    line-height: 38px;
    text-transform: uppercase; }

.name-price {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 3px; }

.price {
  font-family: Lato-Bold;
  font-size: 35px;
  line-height: 50px; }

.close-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #fff; }

/*end styles service-list*/
/*styles centering*/
.custom-select {
  font-size: 20px;
  line-height: 25px;
  position: relative;
  max-width: 310px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 1023px) {
    .custom-select {
      max-width: 280px; } }
  .custom-select select {
    display: none; }

.selected-item {
  font-size: 18px;
  line-height: 22px;
  position: relative;
  padding: 14px 45px 14px 21px;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 5px;
  cursor: pointer;
  z-index: 100; }
  .selected-item:after {
    content: '';
    position: absolute;
    width: 17px;
    height: 12px;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
    background-image: url("../images/arrow-accordion.svg");
    background-repeat: no-repeat;
    transition: all 0.3s ease-out; }

.arrowanim.selected-item:after {
  transform: rotate(180deg); }

.item {
  font-size: 20px;
  line-height: 24px;
  padding: 10px 17px 5px;
  cursor: pointer;
  font-family: Lato-Light; }
  .item:hover {
    font-family: Lato-Regular; }

.all-items {
  position: absolute;
  top: 96%;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 0 0 5px 5px;
  background: #fff; }

.all-items-hide {
  display: none; }

/*end styles centering*/
/*styles select*/
.promo-code-form {
  max-width: 310px;
  margin-bottom: 25px; }
  @media only screen and (max-width: 1023px) {
    .promo-code-form {
      max-width: 280px; } }
  .promo-code-form input {
    font-size: 20px;
    line-height: 20px;
    height: 55px;
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
    border-radius: 5px;
    padding: 15px 20px; }
    .promo-code-form input::placeholder {
      color: #b9b9b9;
      background-image: url("../images/check-mark.svg");
      background-repeat: no-repeat;
      background-position: right; }

.payment-wrap h3 {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.payment-wrap p {
  margin-bottom: 25px; }

/*styles bank-card-list*/
.bank-card-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .bank-card-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 275px;
    width: 100%;
    background: #fff;
    min-height: 150px;
    box-shadow: 1px 1px 15px 2px rgba(137, 82, 23, 0.1);
    border-radius: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: relative;
    margin: 0 35px 15px 0;
    transition: all .25s ease-out; }
    @media only screen and (max-width: 1023px) {
      .bank-card-list li {
        margin: 0 15px 15px 0; } }
    .bank-card-list li:hover {
      max-width: 310px;
      min-height: 170px; }
  .bank-card-list .img-area {
    max-width: 168px;
    width: 100%;
    margin-bottom: 15px; }
  .bank-card-list a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5; }

.card-type-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; }
  .card-type-list li {
    max-width: fit-content;
    min-height: auto;
    margin: 0 12px; }
  .card-type-list .img-area {
    max-width: 40px;
    width: 100%;
    margin-bottom: 0;
    display: flex; }

/*end styles bank-card-list*/
.tabs-content {
  max-width: 705px;
  width: 100%; }

.ui-state-active .ui-tabs-anchor {
  position: relative;
  color: #373737 !important; }
  .ui-state-active .ui-tabs-anchor:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%); }

.ui-state-hover .ui-tabs-anchor:after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
  transition: width 0.25s linear; }

.ui-widget.ui-widget-content {
  border: none;
  padding: 0; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  color: #373737;
  background: transparent; }

.ui-tabs .ui-tabs-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: transparent;
  margin-bottom: 18px;
  position: relative;
  border: none; }
  @media only screen and (max-width: 1275px) {
    .ui-tabs .ui-tabs-nav {
      margin-bottom: 40px; } }
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0 0 7px 0;
    font-family: Lato-Light;
    color: #b9b9b9; }

.ui-tabs .ui-tabs-panel {
  margin-bottom: 50px;
  padding: 0; }
  .ui-tabs .ui-tabs-panel p {
    font-size: 15px;
    line-height: 18px;
    color: #000;
    margin-bottom: 26px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }

.registration-form .form-group {
  margin-bottom: 7px; }

.registration-form label {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #373737; }

.registration-form span {
  display: block;
  font-family: Lato-Light;
  font-size: 14px;
  line-height: 17px;
  color: #e23737; }

.registration-form input {
  font-family: Lato-Regular;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  height: 36px;
  border: none;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #848484;
  margin-bottom: 2px; }
  .registration-form input::placeholder {
    font-size: 20px;
    line-height: 24px;
    color: #d0cfcf; }

.registration-form .input-area {
  position: relative; }

.registration-form .custom-select {
  max-width: inherit; }
  .registration-form .custom-select span {
    font-size: 15px;
    line-height: 18px;
    color: #373737; }

.registration-form .selected-item {
  border-bottom: 1px solid #848484;
  background: transparent !important;
  box-shadow: none;
  border-radius: 0;
  padding: 14px 43px 13px 0px; }

.registration-form a {
  font-family: Lato-Light;
  font-size: 14px;
  line-height: 17px;
  color: #345ba7; }

.toggle-input {
  padding: 10px 50px 10px 10px; }

.search-form {
  margin-bottom: 30px; }
  .search-form .form-group {
    position: relative;
    max-width: 316px; }
  .search-form .btn-search {
    background: transparent;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 0 20px; }
  .search-form input {
    background: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    height: 52px;
    padding: 15px 60px 15px 20px;
    width: 100%;
    border: none; }
    .search-form input::placeholder {
      font-family: Lato-Light;
      font-size: 18px;
      line-height: 22px;
      color: #848484; }

.checkbox-area {
  margin-bottom: 26px;
  margin-left: 18px; }
  .checkbox-area input[type="checkbox"]:checked,
  .checkbox-area input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .checkbox-area input[type="checkbox"]:checked + label,
  .checkbox-area input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 38px;
    font-size: 16px;
    line-height: 20px;
    font-family: Lato-Light;
    cursor: pointer; }
  .checkbox-area input[type="checkbox"]:checked + label:before,
  .checkbox-area input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 26px;
    height: 26px;
    border: 1px solid #373737;
    background-color: #ffffff; }
  .checkbox-area input[type="checkbox"]:checked + label:before,
  .checkbox-area input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px; }
  .checkbox-area input[type="checkbox"]:checked + label:after,
  .checkbox-area input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .checkbox-area input[type="checkbox"]:checked + label:after,
  .checkbox-area input[type="checkbox"]:not(:checked) + label:after {
    left: 7px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #fabb35;
    border-bottom: 4px solid #fabb35;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .checkbox-area input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0; }
  .checkbox-area input[type="checkbox"]:checked + label:after {
    opacity: 1; }

.slider-wrap {
  position: relative;
  max-width: 980px; }

.slick-dots {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px; }
  .slick-dots .slick-active {
    margin-right: 10px; }
    .slick-dots .slick-active button {
      background: #fff;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      color: #373737;
      padding: 12px 16px !important; }
  .slick-dots li {
    margin-right: 5px; }
    .slick-dots li button {
      font-family: ProximaNova-Regular;
      color: #b9b9b9;
      background: transparent;
      padding: 12px 8px; }

.prev {
  background: transparent;
  position: relative;
  right: 160px; }
  .prev:after {
    content: '';
    position: absolute;
    background-image: url("../images/slider-btn-left.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 19px; }

.next {
  background: transparent;
  position: relative;
  right: 7px; }
  .next:after {
    content: '';
    position: absolute;
    background-image: url("../images/slider-btn-right.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 19px; }

.prev,
.next {
  position: absolute;
  bottom: 27px; }
  .prev:hover:after,
  .next:hover:after {
    filter: contrast(40%); }

.column-heading {
  font-family: Lato-Light;
  font-size: 15px;
  line-height: 13px; }

.information-table p {
  display: flex;
  font-family: Lato-Light;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px; }
  .information-table p:last-child {
    margin-bottom: 0; }

.information-table .row {
  margin: 0 0 11px 0; }
  .information-table .row:first-child {
    margin: 0; }

.information-table strong {
  display: block;
  margin-bottom: 20px;
  margin-right: 6px; }

.status {
  color: #e23737; }

.balance-select-wrap h4 {
  font-size: 15px;
  line-height: 18px;
  padding-left: 15px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 1023px) {
    .balance-select-wrap h4 {
      font-size: 16px;
      line-height: 20px; } }

.balance-select-wrap .all-items {
  z-index: 1;
  padding: 25px 13px 7px 25px; }
  .balance-select-wrap .all-items .item {
    display: inline-block;
    background: #fff;
    box-shadow: 1px 1px 15px rgba(75, 44, 9, 0.1);
    border-radius: 5px;
    max-width: 70px;
    padding: 9px 5px;
    width: 100%;
    text-align: center;
    margin: 0 9px 10px 0; }
    .balance-select-wrap .all-items .item:hover {
      background: linear-gradient(180deg, #FABB35 0%, #EB800C 121.87%);
      color: #fff;
      font-family: Lato-Bold; }

.balance-select-wrap .custom-select {
  max-width: 275px; }

.description-balance {
  font-family: Lato-Light;
  max-width: 1068px;
  margin-bottom: 20px; }

/**********************************size button***************************/
.size-md {
  font-size: 20px;
  line-height: 24px; }

.btn-sm {
  padding: 7px 20px; }
  @media only screen and (max-width: 1275px) {
    .btn-sm {
      padding: 7px 10px; } }

/**********************************img-button************************/
.img-button {
  position: relative; }
  .img-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    background-image: url("../images/img-button.png");
    background-repeat: no-repeat;
    z-index: 50; }
    @media only screen and (max-width: 1275px) {
      .img-button:after {
        background-image: url("../images/img-button-table.png");
        background-repeat: no-repeat;
        width: 21px;
        height: 21px; } }
    .img-button:after:hover {
      filter: contrast(20%); }

/*******************************padding*****************************/
.padding-30 {
  padding: 30px 10px 10px 30px; }

.padding-left-255 {
  padding-left: 255px; }
  @media only screen and (max-width: 1275px) {
    .padding-left-255 {
      padding-left: 195px; } }
  @media only screen and (max-width: 1023px) {
    .padding-left-255 {
      padding-left: 135px; } }

.padding-right-27 {
  padding-right: 27px; }
  @media only screen and (max-width: 1023px) {
    .padding-right-27 {
      padding-right: 0; } }

.padding-xxl {
  padding: 23px 26px 8px; }

.padding-xl {
  padding: 10px 25px; }

.padding-left-33 {
  padding-left: 33px; }

.margin-bottom-18 {
  margin-bottom: 18px; }

.btn-padding-custom {
  padding: 9px 22px 9px 65px !important; }
  @media only screen and (max-width: 1275px) {
    .btn-padding-custom {
      padding: 9px 22px 9px 50px !important; } }

.gradient-border {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #eb800c 0%, #fabb35 100%) 1; }

.gradient-text {
  background: linear-gradient(180deg, #FABB35 0%, #EB800C 121.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; }

.box-shadow {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08); }

.background-white {
  background: #fff; }

.marker-green,
.marker-red {
  padding-left: 17px;
  position: relative; }
  .marker-green:before,
  .marker-red:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%; }

.marker-green:before {
  background: #3EA278; }

.marker-red:before {
  background: #e23737; }

.align-flex-start {
  align-items: flex-start; }

.justify-content-flex-start {
  justify-content: flex-start; }

.max-width-113 {
  max-width: 113px !important; }

.d-none-xl {
  display: none; }

.d-block-md {
  display: block; }

.border-radius-5 {
  border-radius: 5px; }

.position-relative {
  position: relative; }
