@import "variables";
@import "mixin";

.main-wrap-program-statistics {
  //@include breakpoint($desktop) {
  //  padding: 50px 72px 20px 195px;
  //}
  //
  //@include breakpoint($tablet) {
  //  padding: 25px 30px 20px 150px;
  //}
  //
  //@include breakpoint($mobile) {
  //  padding: 40px 58px 20px 60px;
  //}
  //
  //@include breakpoint($mobile-sm) {
  //  padding: 30px 29px 20px 30px;
  //}

  > p {
    font-family: $lato-light;
    margin-bottom: 43px;
    max-width: 1265px;
    color: $black;

    @include breakpoint($desktop) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
      max-width: 100%;
      margin-bottom: 12px;
    }
  }

  .btn-holder {
    justify-content: center;
    max-width: 1307px;
    margin-bottom: 60px;

    @include breakpoint($desktop) {
      margin-bottom: 42px;
    }

    @include breakpoint($mobile-sm) {
      margin-bottom: 14px;
    }

    .btn {
      max-width: 442px;

      @include breakpoint($desktop) {
        max-width: 370px;
      }

      @include breakpoint($mobile-sm) {
        max-width: 100%;
      }
    }
  }

  .heading {
    color: $black;

    @include breakpoint($desktop) {
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2;
    }
  }
}

.step-area {
  @include breakpoint($mobile-sm) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.steps-list {
  display: flex;
  justify-content: space-between;
  background: $white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  max-width: 1307px;
  margin-bottom: 25px;

  @include breakpoint($mobile-sm) {
    flex-direction: column;
  }

  .img-area {
    max-width: 42px;
    margin-bottom: 13px;

    @include breakpoint($desktop) {
      max-width: 38px;
      margin-bottom: 8px;
    }

    @include breakpoint($mobile) {
      max-width: 30px;
    }

    @include breakpoint($mobile-sm) {
      margin-bottom: 12px;
    }
  }

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid rgba(235, 128, 12, 0.14);
    width: 33.3%;
    padding: 25px;

    @include breakpoint($desktop) {
      padding: 23px;
    }

    @include breakpoint($mobile) {
      padding: 33px 10px 28px;
    }

    @include breakpoint($mobile-sm) {
      width: 100%;
      border-bottom: 1px solid rgba(235, 128, 12, 0.14);
      border-right: none;
      padding: 28px 30px 26px;
    }

    &:last-child {
      border-right: none;
    }

    h4 {
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2;
      margin-bottom: 3px;

      @include breakpoint($desktop) {
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin-bottom: 6px;
      }
    }

    p {
      font-family: $lato-light;
      max-width: 209px;
      text-align: center;
      color: $black;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 2;
        line-height: $line-height-base - 2;
        max-width: 100%;
      }
    }
  }
}

.affiliate-program-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
  margin-bottom: 30px;

  @include breakpoint($desktop) {
    margin-bottom: 13px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 22px;
  }

  strong {
    font-family: $lato-extra-bold;
    font-size: $font-size-base + 12;
    line-height: $line-height-base + 14;
    margin-right: 30px;

    @include breakpoint($desktop) {
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 5;
      margin-right: 20px;
    }

    @include breakpoint($mobile) {
      margin-right: 15px;
    }

    @include breakpoint($mobile-sm) {
      margin-right: 0;
    }
  }

  p {
    font-family: $lato-light;
    color: $black;

    @include breakpoint($desktop) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }
  }

  li {
    display: flex;
    margin-bottom: 22px;
    max-width: 620px;
    width: 100%;

    @include breakpoint($desktop) {
      max-width: 371px;
    }

    @include breakpoint($tablet) {
      max-width: 100%;
    }

    @include breakpoint($mobile) {
      max-width: 318px;
      margin-bottom: 10px;
    }

    @include breakpoint($mobile-sm) {
      flex-direction: column;
      max-width: 100%;
    }
  }
}

.affiliate-table-area {
  max-width: 627px;
  width: 100%;

  @include breakpoint($desktop) {
    max-width: 100%;
  }

  @include breakpoint($mobile-sm) {
    display: none;
  }

  h4 {
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 5;
    margin-bottom: 25px;
    color: $black;

    @include breakpoint($desktop) {
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2;
    }

    @include breakpoint($mobile) {
      margin-bottom: 18px;
    }
  }
}

.affiliate-table {
  background: $white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  @include breakpoint($desktop) {
    margin-bottom: 40px;
  }

  .row-heading {
    display: flex;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);

    .column {
      text-align: center;
      width: 33.3%;
      font-family: $base-font-default;
      font-size: $font-size-base;
      line-height: $line-height-base;
      padding: 18px 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      color: $black;

      @include breakpoint($desktop) {
        font-size: $font-size-base - 2;
        line-height: $line-height-base - 2;
        padding: 12px 10px;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .row-body {
    display: flex;

    .column {
      font-family: $lato-light;
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2;
      text-align: center;
      width: 33.3%;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding: 12px 12px 21px;

      @include breakpoint($mobile) {
        padding: 19px 12px 21px;
      }

      &:last-child {
        border-right: 0;
      }

      p {
        color: $black;
        margin-bottom: 20px;

        @include breakpoint($desktop) {
          margin-bottom: 14px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.bonuses-area {
  max-width: 627px;
  width: 100%;

  @include breakpoint($desktop) {
    max-width: 100%;
  }

  h4 {
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 5;
    margin-bottom: 25px;

    @include breakpoint($desktop) {
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2  ;
    }
  }
}

.bonuses-list {
  padding: 29px 85px 30px 39px;
  background: $white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  @include breakpoint($desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 47px 0 33px;
  }

  @include breakpoint($tablet) {
    padding: 30px 47px 30px 33px;
  }

  @include breakpoint($mobile) {
    display: flex;
    padding: 24px 25px 30px 32px;
  }

  @include breakpoint($mobile-sm) {
    padding: 24px 12px 30px 12px;
  }

  li {
    margin-bottom: 26px;

    @include breakpoint($desktop) {
      max-width: 327px;
      margin-bottom: 20px;
    }

    @include breakpoint($tablet) {
      max-width: 100%;
    }

    @include breakpoint($mobile) {
      max-width: 290px;
    }

    @include breakpoint($mobile-sm) {
      max-width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-family: $lato-light;
    padding-left: 45px;
    position: relative;
    margin-bottom: 26px;

    @include breakpoint($desktop) {
      padding-left: 37px;
      margin-bottom: 20px;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
      padding-left: 29px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../images/bonus-tick.svg");
      width: 23px;
      height: 23px;

      @include breakpoint($mobile-sm) {
        background-image: url("../images/bonus-tick-sm.svg");
        width: 19px;
        height: 19px;
      }
    }
  }
}

.service-area {
  display: flex;
  justify-content: space-between;
  max-width: 1307px;

  @include breakpoint($desktop) {
    flex-direction: column;
  }
}