@import "mixin";
@import "variables";

/* Popup container - can be anything you want */
.popup {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 12px;

  /* The actual popup */
  .popup-text {
    visibility: hidden;
    width: 260px;
    background-color: $white;
    color: $mine-shaft;
    box-shadow: 3px 3px 30px rgba(150, 78, 30, 0.14);
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    z-index: 100;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 3;
    font-family: $lato-light;

    @include breakpoint($mobile-sm) {
      left: auto;
      right: 0;
      z-index: 130;
    }

    /* Popup arrow */
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 30%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $white transparent transparent transparent;

      @include breakpoint($mobile-sm) {
        left: auto;
        right: 10px;
      }
    }

    span {
      display: block;
    }
  }

  /* Toggle this class - hide and show the popup */
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  &:hover {
    img {
      filter: contrast(1%);
    }
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;

  &:hover {
    img {
      filter: contrast(1%);
    }
  }

  img {
    width: 28px;
  }

  label {
    display: flex;
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.btn {
  font-family: $base-font-default !important;
  font-size: $font-size-base + 2 !important;
  line-height: $line-height-base + 2;
  padding: 15px;
  width: 100%;
  background: $transparent;
  border-radius: 5px;
  background: $white;
  cursor: pointer;
  border: none;

  @include breakpoint($desktop) {
    padding: 13px;
  }

  &:hover {
    //background: linear-gradient(to right, #EB800C 100%, #FABB35 100%);
    background: linear-gradient(91.67deg, #EB800C 1.81%, #FABB35 97.99%);
    color: #fff;
    transition: all .50s;
  }
}

.close-block-btn {
  background: $transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 50;

  img {
    width: 28px;
  }
}

.toggle-button {
  background: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding: 0;
  height: 100%;
}

.btn-cancellation {
  font-family: $lato-light;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background: $transparent;
  color: $mine-shaft;
  border: 0;
  border-bottom: 1px solid $mine-shaft;
  padding: 0;

  &:hover {
    font-family: $base-font-default;
    border-bottom: none;
  }
}

.btn-download {
  max-width: 73px;
  width: 100%;
  background: $white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 23px;

  @include breakpoint($desktop) {
    max-width: 54px;
    padding: 15px;
    margin-right: 25px;
  }

  @include breakpoint($mobile) {
    margin-right: 24px;
  }
}

.btn-width {
  max-width: 310px;
  width: 100%;

  //@include breakpoint($tablet) {
  //  max-width: 285px;
  //}

  @include breakpoint($mobile-sm) {
    padding: 11px;
    max-width: 100%;
  }
}






