@import "variables";
@import "mixin";

.main-wrap {
  padding: 65px 20px 20px 255px;

  @include breakpoint($desktop) {
    padding: 32px 20px 20px 195px;
  }

  @include breakpoint($tablet) {
    padding: 25px 30px 20px 150px;
  }

  @include breakpoint($mobile) {
    padding: 40px 58px 20px 60px;
  }
}

.service-list {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    justify-content: space-between;
  }

  .text {
    //font-family: $lato-regular;
    margin-bottom: 15px;
  }
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(150, 78, 30, 0.14);
  border-radius: 5px;
  min-height: 170px;
  max-width: 310px;
  width: 100%;
  position: relative;
  margin-right: 35px;
  padding: 15px;
  background: $white;

  @include breakpoint($tablet) {
    margin-right: 18px;
    max-width: 285px;
  }

  &:last-child {
    margin-right: 0;
  }

  .view {
    //font-family: $lato-regular;
    font-size: $font-size-base + 17;
    line-height: $line-height-base + 16;
    text-transform: uppercase;
  }
}

.name-price {
  //font-family: $lato-regular;
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 2;
  margin-bottom: 3px;
}

.price {
  font-family: $lato-bold;
  font-size: $font-size-base + 17;
  line-height: $line-height-base + 28;
}

.close-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: $white;
}
/*end styles service-list*/

/*styles centering*/
.custom-select {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 3;
  position: relative;
  max-width: 310px;
  margin-bottom: 20px;

  @include breakpoint($tablet) {
    max-width: 285px;
  }

  select {
    display: none;
  }
}

.selected-item {
  font-size: $font-size-base;
  line-height: $line-height-base;
  position: relative;
  padding: 14px 45px 14px 21px;
  background: $white;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 5px;
  cursor: pointer;

  @include breakpoint($desktop) {
    padding: 17px 45px 17px 28px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 17px;
    height: 12px;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
    background-image: url("../images/arrow-accordion.svg");
    background-repeat: no-repeat;
    transition: all 0.3s ease-out;
  }
}

.arrowanim.selected-item {
  &:after {
    transform: rotate(180deg);
  }
}

.item {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 2  ;
  padding: 10px 17px 5px;
  cursor: pointer;
  font-family: $lato-light;

  &:hover {
    font-family: $base-font-default;
  }
}

.all-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 0 0 5px 5px;
  background: $white;
}

.all-items-hide {
  display: none;
}
/*end styles centering*/

/*styles select*/
