@import "variables";
@import "mixin";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.08);
    background: $white;
    max-width: 131px;
    padding: 10px;
    height: 15%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:first-child {
      height: 10%;
    }

    .active {
      font-family: $lato-regular;

      .sidebar-hover {
        display: block;
      }

      .sidebar-img {
        display: none;
      }
    }

    .sidebar-hover {
      display: none;
    }

    img {
      width: 33px;
      display: flex;
      margin-bottom: 12px;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $mine-shaft;
      text-align: center;
      width: 100%;

      &:hover {
        font-family: $lato-regular;

        .sidebar-hover {
          display: block;
        }

        .sidebar-img {
          display: none;
        }
      }
    }
  }
}

.logo {
  img {
    width: 80px !important;
    margin-bottom: 0 !important;
  }
}

.title-page {
  font-family: $lato-regular;
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 5;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

/* styles service-list*/
.service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin-bottom: 25px;

  .service-item {
    box-shadow: 2px 2px 15px rgba(150, 78, 30, 0.14);
    border-radius: 5px;
    min-height: 170px;
    max-width: 310px;
    width: 100%;
    position: relative;

    .view {
      font-family: $lato-regular;
      font-size: $font-size-base + 17;
      line-height: $line-height-base + 11;
      text-transform: uppercase;
    }
  }
}

.service-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $white;
  border-radius: 3px;
  text-align: center;
  min-height: inherit;

  .text {
    font-family: $lato-regular;
    margin-bottom: 15px;
  }
}

.account-page {
  padding-left: 65px;
}

.name-price {
  font-family: $lato-regular;
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 2;
  margin-bottom: 3px;
}

.price {
  font-family: $lato-bold;
  font-size: $font-size-base + 17;
  line-height: $line-height-base + 28;
  background: linear-gradient(180deg, #FABB35 0%, #EB800C 121.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/*end styles service-list*/


/*style accordion*/
.accordion {
  max-width: 310px;
  margin-bottom: 20px;
}

.accordion__title {
  position: relative;
  padding: 16px 45px 12px 21px;
  margin-bottom: 2px;
  background: $white;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 17px;
    height: 12px;
    top: 25px;
    right: 25px;
    background-image: url("../images/arrow-accordion.svg");
    background-repeat: no-repeat;
  }
}

.accordion__title-text {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 3;
}

.accordion-active {
    &:after {
      transform: rotate(180deg);
      transition: all 0.5s ease-out;
    }
}

.accordion__content {
  padding: 10px 17px 5px;
  display: none;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 0 0 5px 5px;
}
/*end style accordion*/

/*styles terminal-selection*/
.terminal-selection {
  label {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    cursor: pointer;
    user-select: none;
  }
}

.form_radio_btn {
  margin-bottom: 8px;
}

.form_radio_btn input[type=radio] {
  display: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
  font-family: $lato-regular;
}
/*end styles terminal-selection*/

/*styles select*/
.select-terminal {
  position: relative;
  padding: 16px 45px 12px 21px;
  margin-bottom: 2px;
  background: $white;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

//
//
//h2 {
//  margin: 30px 0 0 0;
//}
//fieldset {
//  border: 0;
//}
//label {
//  display: block;
//}
//
///* select with custom icons */
//.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
//  padding: 0.5em 0 0.5em 3em;
//}
//.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
//  height: 24px;
//  width: 24px;
//  top: 0.1em;
//}
//.ui-icon.video {
//  background: url("images/24-video-square.png") 0 0 no-repeat;
//}
//.ui-icon.podcast {
//  background: url("images/24-podcast-square.png") 0 0 no-repeat;
//}
//.ui-icon.rss {
//  background: url("images/24-rss-square.png") 0 0 no-repeat;
//}
//
///* select with CSS avatar icons */
//option.avatar {
//  background-repeat: no-repeat !important;
//  padding-left: 20px;
//}
//.avatar .ui-icon {
//  background-position: left top;
//}

.promo-code-form {
  max-width: 310px;
  margin-bottom: 25px;

  input {
    font-family: $lato-regular;
    font-size: $font-size-base + 2;
    line-height: $line-height-base - 2;
    height: 55px;
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
    border-radius: 5px;
    padding: 15px 20px;

    &::placeholder {
      color: $silver;
      background-image: url("../images/check-mark.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}






