@import "variables";
@import "mixin";

.header-entrance {
  position: fixed;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 20px 0;
  z-index: 20;

  @include breakpoint($mobile) {
    background: $spring-wood;
    padding: 15px 0;
  }

  .btn-group {
    @include breakpoint($mobile) {
      display: block;
      min-width: 47px;
    }

    .select-area {
      @include breakpoint($mobile) {
        margin: 0;
      }
    }
  }
}

.header-content {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo-entrance {
  display: block;
  position: static;
  background: none;
  box-shadow: none;

  img {
    width: 120px;
  }
}

.main-entrance {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 0;
}

.form-entrance-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  padding: 20px 30px;
  border-radius: 5px;
  background: rgba(254, 254, 253, 0.95);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08);
  margin: 0 auto 20px;

  @include breakpoint($mobile) {
    padding: 10px;
  }

  h3 {
    text-align: center;
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 5;
    margin-bottom: 16px;
  }

  h4 {
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 5;
    padding-right: 10px;
    margin-bottom: 16px;
  }

  p {
    font-size: $font-size-base - 1;
    line-height: $line-height-base - 1;
    color: $black;
    margin-bottom: 16px;
  }

  .registration-form {
    width: 100%;

    .form-group {
      margin-bottom: 10px;
    }

    input {
      margin-bottom: 8px;
    }

    .btn {
      margin-bottom: 11px;
    }
  }
}

.ellipse-position {
  position: relative;

  .ellipse {
    position: absolute;
    z-index: -1;
  }

  .ellipse-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 770px;
  }
}

.checkbox-wrap {
  margin: 0 0 17px 0;
}

.link-holder {
  a {
    font-family: $lato-light;
    font-size: $font-size-base;
    line-height: $line-height-base;
    display: block;
    text-align: center;
    color: $azure;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.validation-message {
  position: relative;

  .error-message {
    display: none;
  }
}

.validation-error {
  &:after {
    content: "";
    position: absolute;
    top: 30%;
    right: 10px;
    background-image: url("../images/vector-2.svg");
    width: 13px;
    height: 13px;

    @include breakpoint($mobile) {
      top: 20%;
    }
  }

  .error-message {
    display: block;
  }

  input {
    border-color: red;
  }
}

.validation-success {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    background-image: url("../images/vector.svg");
    width: 15px;
    height: 17px;
  }
}