@import "mixin";
@import "variables";


.personal-data-form {
  max-width: 750px;
  width: 100%;
  margin-bottom: 30px;

  @include breakpoint($mobile) {
    margin-bottom: 16px;
  }

  @include breakpoint($mobile-sm) {
    max-width: 100%;
    margin-bottom: 27px;
  }

  .custom-select {
    max-width: 100%;

    @include breakpoint($mobile) {
      margin-bottom: 12px;
    }
  }

  //.selected-item {
  //  background: $white !important;
  //  border-bottom: none;
  //  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  //  border-radius: 5px;
  //  padding: 20px 22px;
  //  height: 60px;
  //}
  //
  //.all-items {
  //  z-index: 1;
  //}

  .row-tbody-form {
    @include breakpoint($mobile-sm) {
      flex-direction: column;
    }
  }
}

.promo-code-form {
  max-width: 310px;
  margin-bottom: 25px;

  @include breakpoint($desktop) {
    margin-bottom: 28px;
  }

  @include breakpoint($tablet) {
    max-width: 285px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 20px;
    max-width: 100%;
  }

  input {
    box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base + 2;
      height: 50px;
      padding: 10px 20px;
    }

    &::placeholder {
      color: $silver;
      background-image: url("../images/check-mark.svg");
      background-repeat: no-repeat;
      background-position: right;

      @include breakpoint($desktop) {
        font-size: $font-size-base;
        line-height: $line-height-base - 2;
      }

      @include breakpoint($mobile-sm) {
        background-image: url("../images/check-mark-mobile.svg");
      }
    }
  }
}

.reviews-form {
  max-width: 1275px;
  width: 100%;
  margin-bottom: 40px;
}

.reviews-form-ticket-two {
  max-width: 707px !important;
  margin-bottom: 32px;

  .custom-select {
    max-width: 100%;
  }

  label {
    padding-left: 30px;
    margin-bottom: 5px;

    @include breakpoint($mobile-sm) {
      padding-left: 15px;
    }
  }
}

.security-settings-form {
  max-width: 365px;
  margin-bottom: 56px;

  @include breakpoint($desktop) {
    margin-bottom: 47px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 36px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 46px;
    max-width: 100%;
  }

  .btn {
    max-width: 100%;
    margin-top: 10px;

    @include breakpoint($mobile-sm) {
      margin-top: 23px;
    }
  }

  input {
    border-right: none;
    padding: 10px 63px 10px 22px;

    @include breakpoint($mobile-sm) {
      padding: 10px 63px 10px 16px;
    }
  }
}

.search-form {
  margin-bottom: 30px;
  max-width: 316px;

  @include breakpoint($desktop) {
    margin-bottom: 21px;
  }

  @include breakpoint($mobile-sm) {
    max-width: 100%;
  }

  .btn-search {
    background: $transparent;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 0 20px;
  }


  input {
    font-size: $font-size-base;
    line-height: $line-height-base - 2;
    padding: 15px 60px 15px 20px;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
      height: 45px;
      padding: 10px 40px 10px 20px;
    }

    &::placeholder  {
      color: $gray;
    }
  }
}

.search-form-fqa {
  max-width: 622px;

  @include breakpoint($desktop) {
    max-width: 538px;
    margin-bottom: 25px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 21px;
  }

  input {
    height: 57px;
    padding: 15px 60px 15px 30px;

    @include breakpoint($desktop) {
      height: 50px;
      padding: 15px 60px 15px 23px;
    }

    @include breakpoint($mobile-sm) {
      height: 44px;
      padding: 15px 60px 15px 15px;
    }

    &::placeholder {
      font-size: $font-size-base - 2;
      line-height: $line-height-base + 4;
    }
  }
}

.referral-form {
  display: flex;
  margin-bottom: 20px;

  @include breakpoint($desktop) {
    margin-bottom: 24px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 11px;
  }

  @include breakpoint($mobile-sm) {
    flex-direction: column;
    margin-bottom: 7px;
  }

  .form-group {
    max-width: 327px;
    width: 100%;
    margin-right: 32px;

    @include breakpoint($mobile) {
      max-width: 310px;
    }

    @include breakpoint($mobile-sm) {
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  input {
    &::placeholder {
      color: $silver;
      text-align: left;
    }
  }
}

form {
  .toggle-button {
    padding: 0 13px;

    @include breakpoint($mobile-sm) {
      padding: 0 19px;
    }
  }

  .input-area {
    input {
      @include breakpoint($mobile) {
        height: 60px;
      }

      @include breakpoint($mobile-sm) {
        height: 55px;
      }
    }
  }

  .form-group {
    border-radius: 5px;
    margin-bottom: 12px;

    @include breakpoint($mobile-sm) {
      margin-bottom: 12px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: block;
      font-family: $lato-light;
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 6;
      color: $cinnabar;

      @include breakpoint($mobile) {
        letter-spacing: -0.5px;
      }
    }
  }

  .custom-select {
    margin-bottom: 0;

    span {
      font-family: $lato-light;
      font-size: $font-size-base - 3;
      line-height: $line-height-base - 4;
      color: $mine-shaft;
      padding-left: 15px;
      margin-bottom: 10px;

      @include breakpoint($mobile-sm) {
        font-family: $lato-light;
      }
    }
  }

  .selected-item {
    background: $white !important;
    border-bottom: none;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 15px 22px;
    height: 55px;

    @include breakpoint($mobile-sm) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 15px 52px 15px 15px;
    }
  }

  .item {
    padding: 10px 17px 10px;
  }

  .all-items {
    z-index: 1;
  }
}

.input-region {
  .region {
    font-family: $base-font-default;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: $mine-shaft;
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base;
    }
  }

  input {
    padding: 10px 10px 10px 70px !important;
  }
}

label {
  display: block;
  font-family: $lato-light;
  font-size: $font-size-base - 3;
  line-height: $line-height-base - 4;
  color: $mine-shaft;
  padding-left: 15px;
  margin-bottom: 10px;

  @include breakpoint($mobile-sm) {
    font-family: $lato-light;
  }
}

input {
  background: $white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  border: none;
  padding: 15px 25px;
  height: 55px;
  font-family: $lato-light;
  font-size: $font-size-base + 2;
  line-height: $line-height-base - 2;
  border-radius: 5px;

  &::placeholder {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    color: $alto;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base;
      line-height: $line-height-base - 2;
    }
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base;
    line-height: $line-height-base - 4;
    padding: 15px 52px 15px 15px;
  }
}

textarea {
  width: 100%;
  background: $white;
  border: none;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 20px;
  height: 243px;

  @include breakpoint($desktop) {
    height: 160px;
  }

  @include breakpoint($mobile) {
    height: 110px;
  }

  @include breakpoint($mobile-sm) {
    padding: 15px;
  }

  &::placeholder {
    font-family: $lato-light;
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    color: $silver;
  }

  &::-webkit-resizer{
    background: url("../images/textarea-img.svg") no-repeat;
  }
}

.success,
.warning,
.error {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
}

.warning {
  background: $saffron;
  width: 50%;
}

.error {
  background: $bittersweet;
  width: 17%;
}

.registration-form {
  label {
    font-family: $base-font-default;
    padding-left: 0;

    @include breakpoint($mobile-sm) {
      font-family: $lato-light;
    }
  }

  input {
    background: $transparent;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid $gray;
    font-family: $base-font-default;
    font-size: $font-size-base + 2;
    height: 45px;
    margin-bottom: 2px;
    border-radius: 0;
    box-shadow: none;

    @include breakpoint($mobile-sm) {
      font-family: $lato-light;
    }
  }

  .custom-select {
    max-width: inherit;

    span {
      font-size: $font-size-base - 3;
      line-height: $line-height-base - 4;
      color: $mine-shaft;
      padding-left: 0;
    }
  }

  .selected-item {
    border-bottom: 1px solid $gray;
    background: $transparent !important;
    box-shadow: none;
    border-radius: 0;
    padding: 14px 43px 13px 0;
  }

  a {
    font-family: $lato-light;
    font-size: $font-size-base - 4;
    line-height: $line-height-base - 5;
    color: $azure;
  }

  .btn {
    max-width: 310px;

    @include breakpoint($mobile-sm) {
      max-width: 100%;
    }
  }
}

.internal-transfers {
  max-width: 1115px;
  width: 100%;
  margin-bottom: 30px;

  @include breakpoint($desktop) {
    margin-bottom: 43px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 37px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 19px;
  }

  .form-body {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;

    @include breakpoint($mobile-sm) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-group {
    max-width: 100%;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 0;

    @include breakpoint($mobile-sm) {
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:first-child {
      max-width: 183px;

      @include breakpoint($mobile-sm) {
        max-width: 100%;
      }
    }

    &:last-child {
      margin-right: 0;
      max-width: 305px;

      @include breakpoint($mobile-sm) {
        max-width: 100%;
      }
    }
  }

  .checkbox-area {
    margin: 0 30px 0 0;

    @include breakpoint($mobile-sm) {
      margin: 0 0 10px 0;
    }
  }

  .btn-holder {
    width: 100%;
    margin-bottom: 0;

    @include breakpoint($mobile-sm) {
      margin-top: 10px;
    }
  }

  .btn {
    max-width: 305px;
    padding: 10px;

    @include breakpoint($tablet) {
      max-width: 265px;
    }

    @include breakpoint($mobile) {
      max-width: 305px;
    }

    @include breakpoint($mobile-sm) {
      max-width: 100%;
    }
  }

  input {
    height: 50px;
  }

  p {
    font-family: $lato-light;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    color: $black;
    padding-left: 20px;
    position: relative;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 6px;
      background: $cinnabar;
      width: 4px;
    }
  }

  a {
    color: $azure;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}







