@import "mixin";
@import "variables";

.title-page {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 5;
  margin-bottom: 32px;
}

.title-page-balance {
  margin-bottom: 16px;
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 2;

  @include breakpoint($desktop) {
    margin-bottom: 20px;
  }

  @include breakpoint($tablet) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
  }

  @include breakpoint($mobile) {
    margin-bottom: 19px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 16px;
  }
}

.title-page-my-services {
  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 26px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 21px;
  }
}

.title-page-personal-data {
  margin-bottom: 16px;

  @include breakpoint($mobile) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 16px;
  }
}

.title-page-my-accounts {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 5;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 18px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 25px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: 19px;
  }
}

.title-page-security-setting {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 5;
  margin-bottom: 24px;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 21px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 12px;
  }
}

.title-page-my-tickets {
  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 26px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 14px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 21px;
  }
}

.title-page-open-ticket {
  margin-bottom: 22px;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 15px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 14px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: 12px;
  }
}

.title-page-faq {
  margin-bottom: 28px;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 33px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 33px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 21px;
  }
}

.title-page-file-archive {
  margin-bottom: 40px;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 30px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 30px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 27px;
  }

  span {
    &:last-child {
      font-family: $lato-light;
      font-size: $font-size-base;
      line-height: $line-height-base;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 2;
      }

      @include breakpoint($mobile-sm) {
        display: block;
        line-height: $line-height-base - 3;
        padding-left: 22px;
        padding-top: 6px;
      }
    }

    &:first-child {
      margin-right: 5px;
    }
  }
}

.title-page-program-statistics {
  margin-bottom: 21px;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 14px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 18px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 16px;
  }
}

.title-page-referral {
  margin-bottom: 32px;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 24px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 24px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 16px;
  }
}

.title-page-referral-link {
  margin-bottom: 26px;

  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 17px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 16px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: 16px;
  }
}

.heading {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 5;
  margin-bottom: 25px;

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 20px;
  }
}

.heading-faq {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 2;

  @include breakpoint($desktop) {
    margin-bottom: 15px;
  }
}

.account-title {
  font-family: $lato-light;
  line-height: $line-height-base + 5;
  margin-bottom: 21px;

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 12;
  }
}

.col-sm-heading {
  font-size: $font-size-base - 3;
  line-height: $line-height-base - 11;
  display: none;

  @include breakpoint($mobile-sm) {
    display: block;
    margin-bottom: 10px;
  }
}

.col-md-heading {
  font-size: $font-size-base - 3;
  line-height: $line-height-base - 11;
  display: none;

  @include breakpoint($mobile) {
    font-family: $lato-light;
    display: block;
    margin-bottom: 10px;
  }
}