@import "variables";
@import "mixin";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 9px 255px;
  background: $white;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08);

  @include breakpoint($desktop) {
    padding: 21px 75px 11px 195px;
  }

  @include breakpoint($tablet) {
    padding: 11px 30px 11px 150px;
  }

  @include breakpoint($mobile) {
    padding: 32px 58px 28px 60px;
    background: $transparent;
  }

  @include breakpoint($mobile-sm) {
    padding: 23px 29px 18px 30px;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 270px;

  @include breakpoint($desktop) {
    min-width: 235px;
  }

  @include breakpoint($tablet) {
    min-width: 217px;
  }

  @include breakpoint($mobile) {
    display: none;
  }

  .btn {
    max-width: none;
    width: auto;
  }

  button {
    margin: 0 0 10px 10px;

    @include breakpoint($desktop) {
      margin: 0 0 10px 16px;
    }

    @include breakpoint($tablet) {
      margin: 0 0 5px 5px;
    }
  }

  .custom-select {
    margin-bottom: 0;

    .selected-item {
      margin: 0 0 10px 10px;
      cursor: pointer;
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to right, $christine 0%, $saffron 100%) 1;
      padding: 7px 20px;

      @include breakpoint($desktop) {
        margin: 0 0 11px 16px;
        padding: 7px 10px;
      }

      @include breakpoint($tablet) {
        margin: 0 0 5px 5px;
      }

      @include breakpoint($mobile-sm) {
        padding: 4px 10px;
        margin: 0 10px 5px;
      }

      &:hover {
        background: linear-gradient(to right, #EB800C 100%, #FABB35 100%);
        color: #fff;
        transition: all .50s;
      }
    }

    .all-items {
      margin-top: -10px !important;
      width: calc(100% - 10%) !important;
      right: 0;
      left: auto;
    }

    .item {
      padding: 5px 10px;
      text-align: center;
    }
  }

  .selected-item {
    font-family: $lato-light;
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 5;
    background: $transparent;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0;

    &:after {
      display: none;
    }
  }

  .item {
    color: #000;

    @include breakpoint($desktop) {
      padding: 5px 7px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;

  @include breakpoint($tablet) {
    margin-right: 0;
  }

  @include breakpoint($mobile) {
    display: none;
  }

  li {
    margin-right: 60px;

    @include breakpoint($desktop) {
      margin-right: 20px;
    }

    @include breakpoint($tablet) {
      margin-right: 15px;
    }

    &:last-child {
      @include breakpoint($tablet) {
        margin-right: 0;
      }
    }
  }

  a {
    font-family: $lato-light;
    position: relative;
    padding-bottom: 7px;
    display: block;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
      transition: width 0.25s linear;
    }

    &:hover {
      font-family: $base-font-default;

      &:after {
        width: 100%;
      }
    }
  }

  .active {
    font-family: $base-font-default;
    &:after {
      width: 100%;
    }

  }
}

.show-menu {
  @include breakpoint($mobile) {
    right: 0;
  }

  .overlay {
    display: block;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 31px;
  right: 59px;
  height: 26px;
  width: 38px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 120;
  transform: rotate(180deg);
  background: $transparent;

  @include breakpoint($mobile) {
    display: block;
  }

  @include breakpoint($mobile-sm) {
    top: 23px;
    right: 28px;
  }

  span {
    background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
    border: none;
    height: 2px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 100%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
    width: 80%;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 4px;
      width: 100%;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      width: 100%;
    }
  }
}














