@import "mixin";
@import "variables";

.title-page {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 5;
  margin-bottom: 32px;
}

.title-page-balance {
  margin-bottom: 16px;

  @include breakpoint($tablet) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
  }

  @include breakpoint($mobile) {
    margin-bottom: 19px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 16px;
  }
}

.title-page-my-services {
  @include breakpoint($desktop) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 26px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 21px;
  }
}

.heading {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 5;
  margin-bottom: 30px;
}

.account-title {
  font-family: $lato-light;
  line-height: $line-height-base + 5;
  margin-bottom: 21px;

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 12;
  }
}

.col-sm-heading {
  font-size: $font-size-base - 3;
  line-height: $line-height-base - 11;
  display: none;

  @include breakpoint($mobile-sm) {
    display: block;
    margin-bottom: 10px;
  }
}