@import "variables";
@import "mixin";

.header {
  position: fixed;
  width: 100%;
  padding: 0 50px 0 0;
  background: $white;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08);
}

.select-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  padding: 2px;
  background: linear-gradient(to right, #eb800c 0%, #fabb35 100%);
  margin-right: 15px;

  label {
    font-family: $lato-regular;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    background: $white;
    border-radius: 5px;
    color: $mine-shaft;

    &:hover {
      background: linear-gradient(to right, #eb800c 0%, #fabb35 100%);
      color: $white;
      transition: all .50s;
    }
  }

  input {
    display: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.logo {
  display: flex;
  padding: 40px 20px !important;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.08);

  &:after {
    display: none;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-navigation-wrap {
  min-width: 630px;

  @include breakpoint($mobile) {
    position: fixed;
    top: 0;
    right: 200%;
    transition: all .25s ease;
    min-width: 230px;
  }
}

.menu-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    display: block;
    background: $white;
    min-width: inherit;
    padding: 50px 30px;
    border-radius: 5px;
  }

  li {
    margin-right: 80px;
  }

  a {
    color: $mine-shaft;
    position: relative;
    padding-bottom: 7px;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
      transition: width 0.3s linear;
    }

    &:hover {
      color: $black;

      &:after {
        width: 100%;
      }
    }
  }

  .btn-mobile {
    display: none !important;
    @include breakpoint($mobile) {
      display: flex !important;
    }
  }

  .justify-content-end {
    @include breakpoint($mobile) {
      justify-content: flex-start !important;
    }
  }
}

.show-menu {
  @include breakpoint($mobile) {
    right: 0;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg);

  @include breakpoint($mobile) {
    display: block;
  }

  span {
    background: $black;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 70%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
    width: 40%;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
      width: 100%;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      width: 100%;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  height: 100%;
  top: 98px;
  bottom: 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.08);
    background: $white;
    max-width: 131px;
    width: 100%;
    padding: 32px 11px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      font-family: $lato-regular;

      .sidebar-hover {
        display: block;
      }

      .sidebar-img {
        display: none;
      }
    }

    .sidebar-hover {
      display: none;
    }

    img {
      width: 33px;
      display: flex;
      margin-bottom: 12px;
    }

    span {
      display: block;
      text-align: center;
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}









