@import "variables";
@import "mixin";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 16px 255px;
  background: #fff;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08);

  @include breakpoint($desktop) {
    padding: 20px 20px 16px 200px;
  }

  @include breakpoint($tablet) {
    padding: 20px 20px 16px 150px;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 270px;

  @include breakpoint($desktop) {
    min-width: 235px;
  }

  .btn {
    max-width: none;
    width: auto;
  }

  button {
    margin: 0 0 10px 10px;
  }

  .custom-select {
    margin: 0 0 10px 10px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, #EB800C 100%, #FABB35 100%);
      color: #fff;
      transition: all .50s;
    }
  }

  .selected-item {
    font-family: $lato-light;
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 5;
    background: $transparent;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0;

    &:after {
      display: none;
    }
  }

  .item {
    color: #000;

    @include breakpoint($desktop) {
      padding: 5px 7px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;

  li {
    margin-right: 60px;

    @include breakpoint($tablet) {
      margin-right: 20px;
    }
  }

  a {
    font-family: $lato-light;
    color: $mine-shaft;
    position: relative;
    padding-bottom: 7px;
    display: block;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
      transition: width 0.25s linear;
    }

    &:hover {
      font-family: $base-font-default;

      &:after {
        width: 100%;
      }
    }
  }

  .active {
    font-family: $base-font-default;
    &:after {
      width: 100%;
    }

  }
}

.show-menu {
  @include breakpoint($mobile) {
    right: 0;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg);

  @include breakpoint($mobile) {
    display: block;
  }

  span {
    background: $mine-shaft;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 70%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
    width: 40%;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
      width: 100%;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      width: 100%;
    }
  }
}

.ui-state-active {
  .ui-tabs-anchor {
    position: relative;
    //font-family: $lato-regular !important;
    color: $mine-shaft !important;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
    }
  }
}

.ui-state-hover {
  .ui-tabs-anchor {
    //font-family: $lato-regular !important;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
      transition: width 0.25s linear;
    }
  }
}

.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  color: $mine-shaft;
  background: $transparent;
}

.ui-tabs {
  .ui-tabs-nav {
    background: $transparent;
    margin-bottom: 65px;
    position: relative;
    border: none;

    @include breakpoint($desktop) {
      margin-bottom: 40px;
    }

    li {
      margin: 0 20px 0 0;
    }

    .ui-tabs-anchor {
      padding: 0 0 7px 0;
      font-family: $lato-light;
    }
  }

  .ui-tabs-panel {
    margin-bottom: 50px;
    padding: 0;
  }
}

















