@import "variables";
@import "mixin";

/**********************************size button***************************/
.size-md {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 2;
}

.btn-sm {
  padding: 7px 20px;

  @include breakpoint($desktop) {
    padding: 7px 10px;
  }
}
/**********************************img-button************************/
.img-button {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    background-image: url("../images/img-button.png");
    background-repeat: no-repeat;
    z-index: 50;

    @include breakpoint($desktop) {
      background-image: url("../images/img-button-table.png");
      background-repeat: no-repeat;
      width: 21px;
      height: 21px;
    }

    &:hover {
      filter: contrast(20%);
    }
  }
}
/*******************************padding*****************************/
.padding-30 {
  padding: 30px 10px 10px 30px;
}

.padding-left-255 {
  padding-left: 255px;

  @include breakpoint($desktop) {
    padding-left: 195px;
  }

  @include breakpoint($tablet) {
    padding-left: 135px;
  }
}

.padding-right-27 {
  padding-right: 27px;

  @include breakpoint($tablet) {
    padding-right: 0;
  }
}

.padding-xxl {
  padding: 23px 26px 8px;
}

.padding-xl {
  padding: 10px 25px;
}

.padding-left-33 {
  padding-left: 33px;
}

.margin-bottom-18 {
  margin-bottom: 18px;
}

.btn-padding-custom {
  padding: 9px 22px 9px 65px !important;

  @include breakpoint($desktop) {
    padding: 9px 22px 9px 50px !important;
  }
}

.gradient-border {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, $christine 0%, $saffron 100%) 1;
}

.gradient-text {
  background: linear-gradient(180deg, #FABB35 0%, #EB800C 121.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.box-shadow {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
}

.background-white {
  background: $white;
}

.marker-green,
.marker-red {
  padding-left: 17px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }
}

.marker-green {
  &:before {
    background: $ocean-green;
  }
}

.marker-red {
  &:before {
    background: $cinnabar;
  }
}


.align-flex-start {
  align-items: flex-start;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.max-width-113 {
  max-width: 113px !important;
}

.d-none-xl {
  display: none;
}

.d-block-md {
  @include breakpoint($mobile) {
    display: block;
  }
}

.border-radius-5 {
  border-radius: 5px;
}

.position-relative {
  position: relative;
}



