@import "variables";
@import "mixin";

.size-md {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 2;
}

.button-md {
  padding: 12px 22px 12px 65px !important;
}

.img-button {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    background-image: url("../images/img-button.png");
    background-repeat: no-repeat;
    z-index: 50;

    &:hover {
      filter: contrast(20%);
    }
  }
}

.padding-30 {
  padding: 30px 10px 10px 30px;
}

.gradient-border {
  border: 2px solid transparent;
  background-image: linear-gradient(to right, #eb800c 0%, #fabb35 100%);
  border-image-slice: 1;
}

.align-flex-start {
  align-items: flex-start;
}