@import "variables";
@import "mixin";

.main-wrap-my-services {
  @include breakpoint($desktop) {
    padding: 50px 20px 20px 195px;
  }

  @include breakpoint($tablet) {
    padding: 25px 30px 20px 150px;
  }

  @include breakpoint($mobile) {
    padding: 40px 58px 20px 60px;
  }

  @include breakpoint($mobile-sm) {
    padding: 40px 29px 20px 30px;
  }
}

.search-form {
  margin-bottom: 30px;
  max-width: 316px;

  @include breakpoint($desktop) {
    margin-bottom: 21px;
  }

  @include breakpoint($mobile-sm) {
    max-width: 100%;
  }

  .form-group {
    position: relative;
  }

  .btn-search {
    background: $transparent;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 0 20px;
  }


  input {
    font-family: $lato-light;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background: $white;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    height: 52px;
    padding: 15px 60px 15px 20px;
    width: 100%;
    border: none;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
      height: 45px;
      padding: 10px 40px 10px 20px;
    }

    &::placeholder  {
      color: $gray;
    }
  }
}

.checkbox-area {
  margin-bottom: 26px;
  margin-left: 18px;

  @include breakpoint($desktop) {
    margin-bottom: 42px;
  }

  @include breakpoint($mobile) {
    margin-left: 31px;
    margin-bottom: 31px;
  }

  @include breakpoint($mobile-sm) {
    margin-left: 19px;
    margin-bottom: 28px;
  }

  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 38px;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    font-family: $lato-light;
    cursor: pointer;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 6;
    }
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 26px;
    height: 26px;
    border: 1px solid $mine-shaft;
    background-color: #ffffff;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after {
    left: 7px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid $saffron;
    border-bottom: 4px solid $saffron;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}

.information-table {
  max-width: 980px;
  width: 100%;
  margin-bottom: 23px;

  @include breakpoint($desktop) {
    margin-bottom: 33px;
  }

  @include breakpoint($mobile-sm) {
    max-width: 100%;
    margin-bottom: 16px;
  }

  p {
    display: flex;
    font-family: $lato-light;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    margin-bottom: 20px;

    @include breakpoint($desktop) {
      margin-bottom: 10px;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 3;
      line-height: $line-height-base - 5;
    }

    &:last-child {
      margin-bottom: 0;

      @include breakpoint($mobile-sm) {
        margin-bottom: 5px;
      }
    }
  }

  .row {
    margin: 0 0 10px;

    @include breakpoint($desktop) {
      margin: 0 0 4px;
    }

    &:first-child {
      padding: 10px;
    }
  }

  strong {
    display: block;
    margin-bottom: 20px;
    margin-right: 6px;

    @include breakpoint($desktop) {
      font-size: $font-size-base - 3;
      line-height: $line-height-base - 2;
      font-weight: 400;
      margin-bottom: 10px;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 2;
    }
  }

  .row-heading {
    @include breakpoint($mobile-sm) {
      display: none;
    }
  }
}

.row-heading {
  font-family: $lato-light;
  font-size: $font-size-base - 3;
  line-height: $line-height-base - 9;

  @include breakpoint($desktop) {
    font-size: $font-size-base - 3;
    line-height: $line-height-base - 11;
  }

  .col {
    padding: 0 15px 0 27px;

    &:nth-child(2) {
      @include breakpoint($desktop) {
        padding: 0 15px 0 52px;
      }
    }

    &:last-child {
      padding: 0 15px 0 0;

      @include breakpoint($desktop) {
        padding: 0 35px 0 0;
      }
    }
  }
}

.row-headlines {
  padding: 10px 25px;
}

.row-tbody {
  padding: 23px 26px 8px;
  background: $white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  @include breakpoint($mobile-sm) {
    flex-direction: column;
    padding: 12px 12px 5px;
  }

  .col {
    width: 35%;

    @include breakpoint($mobile-sm) {
      width: 100%;
      padding: 0;
    }
  }
}

.col-tbody {
  display: flex;
  width: 65%;

  @include breakpoint($mobile-sm) {
    width: 100%;
    padding: 0;
  }

  .col {
    width: 50%;
    padding: 0 15px;

    @include breakpoint($mobile-sm) {
      padding: 0;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;

  li {
    margin-right: 7px;
    font-family: $proxima-nova-regular;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;

    &:first-child {
      a {
        padding: 0;
      }
    }

    &:last-child {
      a {
        padding: 0;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    transition: background-color .3s;
    color: $silver;
    background: $transparent;
    padding: 12px 8px;

    &:hover:not(.active) {
      background: $white;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      color: $mine-shaft;
      padding: 12px 16px;
    }
  }

  a.active {
    background: $white;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    color: $mine-shaft;
    padding: 10px 17px !important;
  }

  .prev,
  .next {

    img {
      display: flex;
    }

    &:hover:not(.active) {
      margin-right: 0;
      background: $transparent;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
    }

    &:hover {
      img {
        filter: contrast(20%);
      }
    }
  }
}

.pagination-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
  width: 100%;
  margin-bottom: 200px;

  @include breakpoint($mobile-sm) {
    max-width: 100%;
    flex-direction: column;
  }
}

.select-pages-content {
  display: flex;
  align-items: center;

  @include breakpoint($mobile-sm) {
    margin-bottom: 25px;
  }

  p {
    font-family: $lato-light;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    margin-right: 10px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 5;
    }
  }
}

.select-pages {
  font-family: $lato-light !important;
  font-size: $font-size-base - 2 !important;
  line-height: $line-height-base - 2 !important;
  margin-bottom: 0;

  .selected-item {
    padding: 9px 34px 9px 10px;

    &:after {
      right: 9px;
    }
  }

  .item {
    padding: 9px 10px 5px;
  }
}

.dropdown-wrap {
  position: absolute;
  right: 0;
  top: -10px;

  @include breakpoint($mobile-sm) {
    top: 0;
  }
}

.btn-secondary {
  display: flex;
  background-color: $transparent;
  border-color: $transparent;
  padding: 15px 10px;

  &:hover {
    background-color: $transparent;
    border-color: $transparent;
  }

  &:focus {
    background-color: $transparent;
    border-color: $transparent;
    box-shadow: none;
  }

  img {
    width: 25px;
  }
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

.dropdown-item {
  display: flex;
  align-items: center;
  font-family: $lato-light;
  font-size: $font-size-base - 1;
  line-height: $line-height-base + 13;
  color: $black;
  padding: 3px 15px;

  @include breakpoint($desktop) {
    line-height: $line-height-base + 12;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 5;
    white-space: inherit;
  }

  &:hover {
    background: rgba(196, 196, 196, 0.15);
    font-family: $base-font-default;
  }

  img {
    margin-right: 10px;
    width: 20px;
  }
}

.dropdown-menu {
  left: auto !important;
  right: -26px !important;
  background: $white;
  border: 0.5px solid rgba(235, 128, 12, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  transform: translate(0px, 48px) !important;
  min-width: 328px;
  width: 100%;

  @include breakpoint($mobile-sm) {
    min-width: 268px;
    transform: translate(-26px, 38px) !important;
  }

  //&:after {
  //  content: "";
  //  position: absolute;
  //  top: -22px;
  //  left: auto;
  //  right: 10%;
  //  margin-left: -5px;
  //  border-width: 11px;
  //  border-style: solid;
  //  border-color: $white transparent transparent transparent;
  //  transform: rotate(180deg);
  //}
}












