@import "variables";
@import "mixin";

.my-accounts {
  max-width: 1105px;
  width: 100%;
  margin-bottom: 30px;

  .column {
    width: 20%;

    p {
      font-family: $lato-light;
    }
  }

  .column-title {
    width: 20%;
  }

  .row-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 33px;
    margin-bottom: 8px;
  }

  .row-heading {
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
    margin-bottom: 12px;
  }
}

.pagination-wrap-my-accounts {
  max-width: 1105px;
}