@import "variables";
@import "mixin";

.main-wrap-open-ticket-form {
  @include breakpoint($desktop) {
    padding: 50px 72px 20px 195px;
  }

  @include breakpoint($tablet) {
    padding: 25px 30px 20px 150px;
  }

  @include breakpoint($mobile) {
    padding: 39px 58px 20px 60px;
  }

  @include breakpoint($mobile-sm) {
    padding: 30px 29px 20px 30px;
  }

  .btn-width {
    max-width: 253px;
  }
}


