@import "mixin";
@import "variables";

.main-wrap-open-ticket {
  @include breakpoint($desktop) {
    padding: 50px 72px 20px 195px;
  }

  @include breakpoint($tablet) {
    padding: 25px 30px 20px 150px;
  }

  @include breakpoint($mobile) {
    padding: 39px 58px 20px 60px;
  }

  @include breakpoint($mobile-sm) {
    padding: 30px 29px 20px 30px;
  }
}

.link-back {
  display: block;
  font-family: $lato-light;
  color: $dove-gray;
  text-decoration: underline;
  margin-bottom: 30px;

  @include breakpoint($tablet) {
    margin-bottom: 25px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 31px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    margin-bottom: 21px;
  }

  &:hover {
    text-decoration: none;
    color: $dove-gray;
  }
}

.ticket-data {
  display: flex;
  margin-bottom: 24px;

  @include breakpoint($desktop) {
    margin-bottom: 20px;
  }

  @include breakpoint($mobile-sm) {
    flex-direction: column;
    margin-bottom: 15px;
  }

  p {
    font-family: $lato-light;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    margin-right: 20px;

    @include breakpoint($desktop) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 1;
    }

    @include breakpoint($mobile-sm) {
      line-height: $line-height-base - 6;
      margin-bottom: 7px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-holder {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    margin-bottom: 45px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 41px;
  }

  @include breakpoint($mobile-sm) {
    flex-direction: column;
    margin-bottom: 8px;
  }

  .btn-width {
    max-width: 253px;
    margin-right: 20px;

    @include breakpoint($tablet) {
      max-width: 230px;
    }

    @include breakpoint($mobile) {
      max-width: 255px;
      margin-right: 5px;
    }

    @include breakpoint($mobile-sm) {
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 17px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .btn-width {
    max-width: 305px;
  }
}

.reviews {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  padding: 20px 27px 9px;
  max-width: 1275px;
  width: 100%;
  margin-bottom: 20px;

  @include breakpoint($desktop) {
    padding: 23px 44px 12px 23px;
    margin-bottom: 15px;
  }

  @include breakpoint($mobile) {
    padding: 20px 32px 9px 20px;
  }

  @include breakpoint($mobile-sm) {
    padding: 14px 15px 9px 15px;
  }
}

.reviews-area {
  font-family: $lato-light;
  padding-right: 16px;

  @include breakpoint($desktop) {
    padding-right: 0;
  }

  p {
    color: $black;
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 20px;

    @include breakpoint($desktop) {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }
  }

  span {
    display: block;
    color: $black;
    font-size: $font-size-base;
    line-height: $line-height-base;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.feedback-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  @include breakpoint($desktop) {
    margin-bottom: 20px;
  }

  @include breakpoint($mobile-sm) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .user-info {
    align-items: center;
    border: none;
    justify-content: flex-start;
    border-radius: 0;
    margin-bottom: 0;

    @include breakpoint($mobile-sm) {
      margin-bottom: 15px;
    }

    span {
      display: block;
      margin-right: 20px;

      @include breakpoint($mobile-sm) {
        margin-right: 13px;
      }
    }

    .badge-md {
      padding: 11px 45px;

      @include breakpoint($desktop) {
        padding: 9px 33px;
      }

      @include breakpoint($mobile-sm) {
        padding: 5px 20px;
        max-width: 100px;
      }
    }
  }
}

.badge {
  display: block;
  padding: 11px 24px;
  font-family: $lato-bold;
  font-size: $font-size-base;
  line-height: $line-height-base;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  @include breakpoint($desktop) {
    border-radius: 3px;
    padding: 8px 18px;
  }

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    padding: 6px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.user {
  font-family: $lato-light;
  color: $black;

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
  }
}

.date {
  font-family: $lato-light;
  font-size: $font-size-base - 2;
  line-height: $line-height-base - 2;
  color: $mobile-sm;
  padding-right: 0;
  margin-bottom: 0;

  @include breakpoint($mobile-sm) {
    font-size: $font-size-base - 4;
    line-height: $line-height-base - 3;
  }
}