@import "variables";
@import "mixin";

.info-area {
  align-items: flex-start;
}

.btn-hint {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-content-info {
  padding: 20px;
}

.modal-body-info {
  h4 {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 2;
    margin-bottom: 16px;
  }
}

.modal-footer-info {
  font-family: $lato-light;

  ol {
    list-style: auto;
    padding-left: 16px;
  }

  a {
    color: $azure;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}