@import "variables";
@import "mixin";

.main-wrap-referral {
  //@include breakpoint($desktop) {
  //  padding: 50px 70px 20px 195px;
  //}
  //
  //@include breakpoint($tablet) {
  //  padding: 25px 30px 20px 150px;
  //}
  //
  //@include breakpoint($mobile) {
  //  padding: 41px 58px 20px 60px;
  //}
  //
  //@include breakpoint($mobile-sm) {
  //  padding: 40px 29px 20px 30px;
  //}

  h4 {
    margin-bottom: 10px;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }
  }

  .form-wrap {
    flex-direction: column;
    margin-bottom: 60px;

    @include breakpoint($desktop) {
      max-width: 100%;
      margin-bottom: 43px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 36px;
    }

    .btn {
      max-width: 328px;

      @include breakpoint($desktop) {
        padding: 17px 15px;
      }

      @include breakpoint($tablet) {
        max-width: 250px;
      }

      @include breakpoint($mobile) {
        max-width: 310px;
        padding: 15px;
      }

      @include breakpoint($mobile-sm) {
        max-width: 100%;
      }
    }
  }
}

.instructions-list {
  list-style: auto;
  padding-left: 25px;
  max-width: 1380px;
  margin-bottom: 30px;

  @include breakpoint($desktop) {
    margin-bottom: 22px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 37px;
  }

  li {
    font-family: $lato-light;

    @include breakpoint($tablet) {
      margin-bottom: 5px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 0;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }
  }
}

.tabs-referral {
  max-width: 1160px;

  .ui-tabs-nav {
    justify-content: flex-start;
    margin-bottom: 9px;

    @include breakpoint($mobile) {
      margin-bottom: 15px;
    }

    .ui-tabs-anchor {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }

    li {
      margin-right: 15px;
    }

    .text-item {
      font-family: $base-font-default;
      color: $mine-shaft;

      @include breakpoint($mobile-sm) {
        font-size: $font-size-base - 2;
        line-height: $line-height-base - 2;
      }
    }

  }
}

.table-referral {
  .row-body {
    display: flex;
    padding: 0 10px 0 90px;
    margin-bottom: 8px;

    @include breakpoint($desktop) {
      padding: 0 20px 0 33px;
    }

    @include breakpoint($tablet) {
      padding: 0 3px 0 15px;
    }

    @include breakpoint($mobile-sm) {
      display: none;
    }

    .column {
      font-family: $lato-light;
      font-size: $font-size-base - 3;
      line-height: $line-height-base - 2;
      color: $black;
      width: 20%;
      padding: 2px;
    }
  }

  .row-content {
    padding: 25px 10px 20px 90px;
    margin-bottom: 10px;

    @include breakpoint($desktop) {
      padding: 25px 19px 20px 33px;
    }

    @include breakpoint($tablet) {
      padding: 25px 3px 20px 15px;
    }

    @include breakpoint($mobile-sm) {
      padding: 22px 28px 10px 20px;
    }

    .column {
      font-family: $lato-light;
      color: $mine-shaft;
      width: 20%;

      @include breakpoint($mobile-sm) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 9px;
      }

      &:last-child {
        @include breakpoint($mobile-sm) {
          margin-bottom: 0;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .link {
    font-family: $lato-light;
    color: $azure;

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}



