@import "variables";
@import "mixin";

.main-wrap-security-setting {
  //margin-bottom: 50px;
  //
  //@include breakpoint($desktop) {
  //  padding: 43px 20px 20px 195px;
  //}
  //
  //@include breakpoint($tablet) {
  //  padding: 25px 30px 20px 150px;
  //}
  //
  //@include breakpoint($mobile) {
  //  padding: 40px 48px 20px 60px;
  //}
  //
  //@include breakpoint($mobile-sm) {
  //  padding: 40px 29px 20px 30px;
  //}

  .btn {
    max-width: 365px;

    @include breakpoint($mobile-sm) {
      max-width: 100%;
    }
  }

  h3 {
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 5;
    margin-bottom: 25px;

    @include breakpoint($desktop) {
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2;
      margin-bottom: 21px;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base + 1;
      line-height: $line-height-base  + 1;
    }
  }

  p {
    font-family: $lato-light;
    max-width: 1125px;
    margin-bottom: 27px;

    @include breakpoint($desktop) {
      max-width: 755px;
      margin-bottom: 24px;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }
  }
}

