@import "variables";
@import "mixin";

.main-wrap-security-setting {
  margin-bottom: 50px;

  @include breakpoint($desktop) {
    padding: 43px 20px 20px 195px;
  }

  @include breakpoint($tablet) {
    padding: 25px 30px 20px 150px;
  }

  @include breakpoint($mobile) {
    padding: 40px 48px 20px 60px;
  }

  @include breakpoint($mobile-sm) {
    padding: 40px 29px 20px 30px;
  }

  .btn {
    max-width: 365px;

    @include breakpoint($mobile-sm) {
      max-width: 100%;
    }
  }

  h3 {
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 5;
    margin-bottom: 25px;

    @include breakpoint($desktop) {
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2;
      margin-bottom: 21px;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base + 1;
      line-height: $line-height-base  + 1;
    }
  }

  p {
    font-family: $lato-light;
    max-width: 1125px;
    margin-bottom: 27px;

    @include breakpoint($desktop) {
      max-width: 755px;
      margin-bottom: 24px;
    }

    @include breakpoint($mobile-sm) {
      font-size: $font-size-base - 2;
      line-height: $line-height-base - 2;
    }
  }
}

.security-settings-form {
  max-width: 365px;
  margin-bottom: 56px;

  @include breakpoint($desktop) {
    margin-bottom: 47px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 36px;
  }

  @include breakpoint($mobile-sm) {
    margin-bottom: 46px;
    max-width: 100%;
  }

  .btn {
    max-width: 100%;
    margin-top: 10px;

    @include breakpoint($mobile-sm) {
      margin-top: 23px;
    }
  }

  input {
    border-right: none;
    padding: 10px 63px 10px 22px;

    @include breakpoint($mobile-sm) {
      padding: 10px 63px 10px 16px;
    }
  }

  .form-group {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;

    @include breakpoint($mobile-sm) {
      margin-bottom: 12px;
    }

    label {
      padding-left: 11px;
      margin-bottom: 4px;

      @include breakpoint($mobile-sm) {
        padding-left: 16px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .toggle-button {
    padding: 0 33px;

    @include breakpoint($mobile-sm) {
      padding: 0 19px;
    }
  }

  .input-area {
    input {
      @include breakpoint($mobile) {
        height: 60px;
      }

      @include breakpoint($mobile-sm) {
        height: 55px;
      }
    }
  }
}

.success,
.warning,
.error {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
}

.warning {
  background: $saffron;
  width: 50%;
}

.error {
  background: $bittersweet;
  width: 17%;
}