@import "mixin";
@import "variables";

.tabs {
  margin-bottom: 50px;
}

.tabs-content {
  max-width: 705px;
  width: 100%;

  @include breakpoint($mobile) {
    max-width: 100%;
  }
}

.ui-state-active {
  .ui-tabs-anchor {
    position: relative;
    color: $mine-shaft !important;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
    }
  }
}

.ui-state-hover {
  .ui-tabs-anchor {
    color: $mine-shaft !important;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(90deg, #EC840F 0%, #FABB35 100%);
      transition: width 0.25s linear;
    }
  }
}

.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
}

.ui-widget-content {
  background: $base-background !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  color: $mine-shaft;
  background: $transparent;
}

.ui-tabs {
  .ui-tabs-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: $transparent;
    margin-bottom: 18px;
    position: relative;
    border: none;

    @include breakpoint($desktop) {
      margin-bottom: 40px;
    }

    @include breakpoint($tablet) {
      margin-bottom: 20px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 17px;
    }

    .ui-tabs-anchor {
      padding: 0 0 7px 0;
      font-family: $base-font-default;
      font-size: $font-size-base + 2;
      line-height: $line-height-base + 2;
      color: $silver;

      @include breakpoint($mobile) {
        font-family: $base-font-default;
        font-size: $font-size-base + 2;
        line-height: $line-height-base + 2;
      }
    }
  }

  .ui-tabs-panel {
    padding: 0;

    p {
      font-family: $lato-light;
      font-size: $font-size-base - 3;
      line-height: $line-height-base - 4;
      color: $black;
      margin-bottom: 26px;
    }
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px;
  }
}

.toggle-input {
  padding: 10px 50px 10px 10px;
}