$transparent: transparent;
$white: #fff;
$silver: #c9c9c9;
$black: 000;
$mine-shaft: #373737;
$saffron: #fabb35;

//font page
$base-font-default: Lato-Light;
$lato-bold: Lato-Bold;
$lato-regular: Lato-Regular;

//Body
$base-text-color: $mine-shaft;
$base-background: $white;
$base-font-family: $base-font-default;
$font-size-base: 18px;
$line-height-base: 22px;
$base-min-width: 320px