$transparent:          transparent;
$white:                #fff;
$silver:               #c9c9c9;
$alto:                 #d0cfcf;
$silver:               #b9b9b9;
$gray:                 #848484;
$black:                #000;
$mine-shaft:           #373737;
$saffron:              #fabb35;
$christine:            #eb800c;
$cinnabar:             #e23737;
$azure:                #345ba7;

//font page
$base-font-default: Lato-Regular;
$lato-bold: Lato-Bold;
$lato-light: Lato-Light;

//Body
$base-text-color: $mine-shaft;
$base-background: $white;
$base-font-family: $base-font-default;
$font-size-base: 18px;
$line-height-base: 22px;
$base-min-width: 320px